.programCardWrapper {
    margin-top: 32px;
}

@media screen and (min-width: 768px) {
    .programCardWrapper {
        margin-top: 50px;
    }    
}

.programCardWrapper .ui.card.active, .programCardWrapper .ui.card.active:hover {
    background-color: #ffffe8;
}